@model Evidence_07_Mid_Monthly.Models.Trainee
@{
    ViewBag.Title = "Delete";
}

<div class="row my-3">
    <div class="col-12">
        <a title="Back to List" href="@Url.Action("Index","Trainee")" class="alert-danger btn btn-sm btn-secondary rounded-circle "><i class="bi bi-arrow-90deg-left"> Return</i></a>
    </div>
</div>
<div class="row my-3">
    <div class="col-10 offset-2">
        <h2>Delete Trainee</h2>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.TraineeId)
    <div class="row mb-1">
        @Html.LabelFor(x => x.Picture, new { @class = "col-form-label col-2 text-end" })
        <div class="col-4">
            <img class="rounded-circle" src="~/ImageUploads/@ViewBag.Pic" alt="@ViewBag.Pic" width="100" />
        </div>
        <div class="col-4">
            @Html.ValidationMessageFor(x => x.Picture, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row mb-1">
        @Html.LabelFor(x => x.TraineeName, new { @class = "col-form-label col-2 text-end" })
        <div class="col-4">
            @Html.TextBoxFor(x => x.TraineeName, new { @class = "form-control" })
        </div>
        <div class="col-4">
            @Html.ValidationMessageFor(x => x.TraineeName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row mb-1">
        @Html.LabelFor(x => x.Email, new { @class = "col-form-label col-2 text-end" })
        <div class="col-4">
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type = "email" })
        </div>
        <div class="col-4">
            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row mb-1">
        @Html.LabelFor(x => x.TLocation, new { @class = "col-form-label col-2 text-end" })
        <div class="col-4">
            @Html.TextBoxFor(x => x.TLocation, new { @class = "form-control" })
        </div>
        <div class="col-4">
            @Html.ValidationMessageFor(x => x.TLocation, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row mb-1">
        @Html.LabelFor(x => x.Course.CourseName, new { @class = "col-form-label col-2 text-end" })
        <div class="col-4">
            @Html.TextBoxFor(x => x.Course.CourseName, new { @class = "form-control" })
        </div>
        <div class="col-4">
            @Html.ValidationMessageFor(x => x.Course.CourseName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-10 offset-2">
            <button type="submit" class="btn btn-outline-danger">Delete</button>
        </div>
    </div>
}


